{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- header area end -->


    <!-- popup search -->
    <div class="search-popup">
        <button class="close-search"><span class="far fa-times"></span></button>
        <form action="#">
            <div class="form-group">
                <input type="search" name="search-field" class="form-control" placeholder="Search Here..." required>
                <button type="submit"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- popup search end -->


  
    <!-- sidebar-popup -->
    <div class="sidebar-popup offcanvas offcanvas-end" tabindex="-1" id="sidebarPopup">
        <div class="offcanvas-header">
            <a href="{% url 'index' %}" class="sidebar-popup-logo">
                <img src="{% static 'assets/img/logo/logo-1.png' %}" alt="">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="far fa-xmark"></i>
            </button>
        </div>
        <div class="sidebar-popup-wrap offcanvas-body">
            <div class="sidebar-popup-wrap offcanvas-body">
                <div class="sidebar-popup-content">
                    <div class="sidebar-popup-about">
                        <h4>About Us</h4>
                        <p>Masaco global has a four-decade-long track record of it's parent company</p>
                    </div>
                    <div class="sidebar-popup-contact">
                        <h4>Contact Info</h4>
                        <ul>
                            <li>
                                <div>
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <h6>Email</h6>
                                    <a href="mailto:info@masacoglobal.com">info@masacoglobal.com</a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="far fa-phone"></i>
                                </div>
                                <div class="content">
                                    <h6>Phone</h6>
                                    <a href="tel:+91 9895927770">+91 9895927770
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <i class="far fa-location-dot"></i>
                                </div>
                                <div class="content">
                                    <h6>Address 1</h6>
                                    <a href="{% url 'contact' %}">KOCHI: Palal Tower, MG Road, Ernakulam, Kerala 682015<br>
                                    </a>
                                </div>
                                
                            </li>
                            <li>
                                <div>
                                    <i class="far fa-location-dot"></i>
                                </div>
                                <div class="content">
                                    <h6>Address 2</h6>
                                    <a href="{% url 'contact' %}">KOTTAYAM: Srinikethan GALLERIA, First floor,  Changanassery<br>
                                    </a>
                                </div>
                                
                            </li>
                            <li>
                                <div>
                                    <i class="far fa-location-dot"></i>
                                </div>
                                <div class="content">
                                    <h6>Address 3</h6>
                                    <a href="{% url 'contact' %}">DUBAI: Academic City, Building No.12, Office 306, UAE<br>
                                    </a>
                                </div>
                                
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Follow Us</h4><br>
                        <a href="https://www.facebook.com/masaco.global/"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
                        <a href="https://www.youtube.com/@masaco.global"><i class="fab fa-youtube"></i></a> &nbsp;&nbsp;
                        <a href="https://www.instagram.com/masaco.global/"><i class="fab fa-instagram"></i></a> &nbsp;&nbsp;
                        <a href="https://www.linkedin.com/company/eduomania?originalSubdomain=in"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar-popup end -->

    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb" style="background: url(static/assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">About Us</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li class="active">About Us</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- about area -->
        <div class="about-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <div class="about-left wow fadeInLeft" data-wow-delay=".25s">
                            <div class="about-img">
                                <div class="row">
                                    <div class="col-6">
                                        <img class="img-1" src="{% static 'assets/img/about-5.jpg' %}" alt="">
                                        <img class="shape" src="{% static 'assets/img/shape/02.png' %}" alt="">
                                    </div>
                                    <div class="col-6">
                                        <div class="about-experience">
                                            <h5>9<span>+</span></h5>
                                            <p>Years Of Experience</p>
                                        </div>
                                        <img class="img-2" src="{% static 'assets/img/D-1.jpg' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-right wow fadeInUp" data-wow-delay=".25s">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline"><i class="far fa-passport"></i> About Us</span>
                                <h2 class="site-title">Our<span> Story</span></h2>
                            </div>
                            <p class="about-text">About 45 years ago, Cmdr Geevarghese John opened a fresh fruit and vegetable speciality store under the banner 'MASACO TRADING' in the Sultanate of Oman with a focus to supply the finest produce to its people. With hard work, determination and self-belief he pushed himself to the top spot of a highly competitive business.

                                Today MASACO remains the most sought-after trading company in the Sultanate that delivers its vendors and supermarket chains the highest quality fresh produce.
                                
                                Geevarghese is a fine example of a successful enterpriser with a sheer motive to deliver nothing but excellence in all fields of work, by generating high customer satisfaction and productivity.</p><br>
                            <p class="about-text">Deepthi spent her early days along with her dad, Geevarghese in Oman and after completing her formal schooling, she left to pursue her college in India. She is equipped with a Bachelor's degree in Physics from St. Teresa's College and a Master's degree in Computer from Rajagiri School of Social Sciences, Cochin.


                                She now manages and directs the vision of MASACO. Under her guidance, MASACO was awarded the 'Best Startup Company', in 2018. She has also won accolades for being the best outgoing student during her master's program.</p>
                            {% comment %} <a href="about.html" class="theme-btn">Discover More<i class="fas fa-circle-arrow-right"></i></a> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about area end -->


        <!-- counter area -->
        <div class="counter-area">
            <div class="counter-wrap">
                <div class="shape">
                    <img src="{% static 'assets/img/shape/03.png' %}" alt="">
                </div>
                <div class="container">
                    <div class="row g-4">
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/visa.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="6560" data-speed="3000">6560</span>
                                    <h6 class="title">+  Consulting</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box mt-lg-5">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/happy.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="7320" data-speed="3000">7320</span>
                                    <h6 class="title">+ Happy Students</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/country.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="190" data-speed="3000">190</span>
                                    <h6 class="title">+ Total Country</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="counter-box mt-lg-5">
                                <div class="icon">
                                    <img src="{% static 'assets/img/icon/award.svg' %}" alt="">
                                </div>
                                <div>
                                    <span class="counter" data-count="+" data-to="50" data-speed="3000">50</span>
                                    <h6 class="title">+ Scholarships</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- counter area end -->
        <div class="service-area bg py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto wow fadeInDown" data-wow-delay=".25s">
                        <div class="site-heading text-center">
                            <span class="site-title-tagline"><i class="far fa-passport"></i> Our Company Culture</span>
                            <h2 class="site-title">Our Commitment to <span>Excellence</span> </h2>
                        </div>
                    </div>
                </div>
                <div class="service-wrap wow fadeInUp" data-wow-delay=".25s">
                    <div class="row g-4 g-lg-0">
                        <div class="col-md-6 col-lg-4">
                            <div class="service-item">
                                <span class="count">01</span>
                                <div class="service-icon">
                                    <img src="{% static 'assets/img/icon/visa.svg' %}" alt="">
                                </div>
                                <div class="service-content">
                                    <h4 class="service-title">
                                        <a href="service-single.html">Mission</a>
                                    </h4>
                                    <p class="service-text">
                                        It's our mission to remain in our valued customers hearts as the best and the most trusted global service provider that holistically enrich their lives.
                                    </p>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service-item">
                                <span class="count">02</span>
                                <div class="service-icon">
                                    <img src="{% static 'assets/img/icon/travel-insurance.svg' %}" alt="">
                                </div>
                                <div class="service-content">
                                    <h4 class="service-title">
                                        <a href="service-single.html">Vision</a>
                                    </h4>
                                    <p class="service-text">
                                        To form trustworthy lifelong relationships with our valued customers and continually provide them with the best global experience, by having them at the heart of it all.
                                    </p>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="service-item">
                                <span class="count">03</span>
                                <div class="service-icon">
                                    <img src="{% static 'assets/img/icon/work-permit.svg' %}" alt="">
                                </div>
                                <div class="service-content">
                                    <h4 class="service-title">
                                        <a href="service-single.html">Values</a>
                                    </h4>
                                    <p class="service-text">
                                        Trust, integrity, equality, team work, diversity and customer satisfaction are core values that we follow. These values define Masaco Global. 
                                    </p>
                                   
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>

        <!-- team-area -->
        <div class="team-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s">
                            <span class="site-title-tagline"><i class="far fa-passport"></i> Our Team</span>
                            <h2 class="site-title">Meet With Our <span>Awesome Team</span> Members</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    {% for member in team %}
                    <div class="col-md-6 col-lg-3">
                        <div class="team-item wow fadeInUp" data-wow-delay=".25s">
                            <div class="team-img">
                                <img src="{{ member.image.url }}" alt="thumb">
                                
                            </div>
                            <div class="team-content">
                                <h4><a href="team.html">{{ member.name }}</a></h4>
                                <span>{{ member.designation }}</span>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>No team members found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- team-area end -->


        <!-- testimonial-area -->
        <div class="testimonial-area testimonial-bg pt-80 pb-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mx-auto">
                        <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s">
                            <span class="site-title-tagline"><i class="far fa-passport"></i> Testimonials</span>
                            <h2 class="site-title text-white">What Our Amazing Students Say About Us</h2>
                        </div>
                    </div>
                </div>
                <div class="testimonial-slider owl-carousel owl-theme wow fadeInUp" data-wow-delay=".25s">
                    {% for review in reviews %}
                    <div class="testimonial-item">
                        <div class="testimonial-quote-icon">
                            <img src="{% static 'assets/img/icon/quote.svg' %}" alt="">
                        </div>
                        <div class="testimonial-content">
                            <div class="testimonial-author-img">
                                <img src="{{ review.image.url }}" alt="{{ review.name }}">
                            </div>
                            <div class="testimonial-author-info">
                                <h4>{{ review.name }}</h4>
                                <p>{{ review.designation }}</p>
                            </div>
                        </div>
                        <div class="testimonial-quote">
                            <p>{{ review.message }}</p>
                        </div>
                        <div class="testimonial-rate">
                            {% for i in "12345"|make_list %}
                                {% if forloop.counter <= review.rating %}
                                    <i class="fas fa-star text-warning"></i>
                                {% else %}
                                    <i class="far fa-star text-warning"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                
                
            </div>
        </div>
        <!-- testimonial-area end -->


        <!-- partner-area -->
        <div class="partner-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s">
                            <span class="site-title-tagline"><i class="far fa-passport"></i> Our Partners</span>
                            <h2 class="site-title">Meet With Our <span>Awesome</span> Partners</h2>
                        </div>
                    </div>
                </div>
                <div class="row g-4 justify-content-center wow fadeInUp" data-wow-delay=".25s">
                    {% for partner in partners %}
                    <div class="col-4 col-lg-2">
                        <div class="partner-img">
                            <img src="{{ partner.logo.url }}" alt="{{ partner.name }}">
                        </div>
                    </div>
                    {% empty %}
                    <p class="text-center">No partners to display.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- partner-area end -->

    </main>


    {% endblock %}