{% extends "base.html" %}
{% load static %}

{% block content %}


    <!-- popup search -->
    <div class="search-popup">
        <button class="close-search"><span class="far fa-times"></span></button>
        <form action="#">
            <div class="form-group">
                <input type="search" name="search-field" class="form-control" placeholder="Search Here..." required>
                <button type="submit"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>
    <!-- popup search end -->


    <!-- sidebar-popup -->
    <div class="sidebar-popup offcanvas offcanvas-end" tabindex="-1" id="sidebarPopup">
        <div class="offcanvas-header">
            <a href="index.html" class="sidebar-popup-logo">
                <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
            </a>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
                <i class="far fa-xmark"></i>
            </button>
        </div>
        <div class="sidebar-popup-wrap offcanvas-body">
            <div class="sidebar-popup-content">
                <div class="sidebar-popup-about">
                    <h4>About Us</h4>
                    <p>Masaco global has a four-decade-long track record of it's parent company</p>
                </div>
                <div class="sidebar-popup-contact">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="content">
                                <h6>Email</h6>
                                <a href="mailto:info@masacoglobal.com">info@masacoglobal.com</a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="far fa-phone"></i>
                            </div>
                            <div class="content">
                                <h6>Phone</h6>
                                <a href="tel:+91 9895927770">+91 9895927770
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="far fa-location-dot"></i>
                            </div>
                            <div class="content">
                                <h6>Address 1</h6>
                                <a href="{% url 'contact' %}">KOCHI: Palal Tower, MG Road, Ernakulam, Kerala 682015<br>
                                </a>
                            </div>
                            
                        </li>
                        <li>
                            <div class="icon">
                                <i class="far fa-location-dot"></i>
                            </div>
                            <div class="content">
                                <h6>Address 2</h6>
                                <a href="{% url 'contact' %}">KOTTAYAM: Srinikethan GALLERIA, First floor,  Changanassery<br>
                                </a>
                            </div>
                            
                        </li>
                        <li>
                            <div class="icon">
                                <i class="far fa-location-dot"></i>
                            </div>
                            <div class="content">
                                <h6>Address 3</h6>
                                <a href="{% url 'contact' %}">DUBAI: Academic City, Building No.12, Office 306, UAE<br>
                                </a>
                            </div>
                            
                        </li>
                    </ul>
                </div>
                <div class="sidebar-popup-social">
                    <h4>Follow Us</h4>
                    <a href="https://www.facebook.com/masaco.global/"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.youtube.com/@masaco.global"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.instagram.com/masaco.global/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/eduomania?originalSubdomain=in"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- sidebar-popup end -->


    <main class="main">

        <!-- breadcrumb -->
        <div class="site-breadcrumb" style="background: url(static/assets/img/breadcrumb/01.jpg)">
            <div class="container">
                <h2 class="breadcrumb-title">Country</h2>
                <ul class="breadcrumb-menu">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Country</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb end -->


        <!-- country area -->
        <div class="country-area py-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mx-auto">
                        <div class="site-heading text-center wow fadeInDown" data-wow-delay=".25s">
                            <span class="site-title-tagline"><i class="far fa-passport"></i> Country We Offer</span>
                            <h2 class="site-title">Let's Check Country We Offer For You</h2>
                        </div>
                    </div>
                </div>
                <div class="country-wrap p-0">
                    <div class="row g-4 wow fadeInUp" data-wow-delay=".25s">
                        {% for country in abroad %}
                        <div class="col-md-6 col-lg-4">
                            <div class="country-item">
                                <div class="country-img">
                                    <img src="{{ country.country_logo.url }}" alt="{{ country.country_name }}">
                                </div>
                                <div class="country-content">
                                    <h4><a href="{% url 'country_details' country.id %}">{{ country.country_name }}</a></h4>
                                    <p>{{ country.study_details|safe|truncatewords:14 }}</p>
                                    <a href="{% url 'country_details' country.id %}" class="theme-btn">
                                        Details <i class="fas fa-circle-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
            </div>
        </div>
        <!-- country area end -->

    </main>


    {% endblock %}